body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 10px;
}

li {
  display: inline;
  margin: 10px 20px  10px 0px;
}

tbody tr:nth-child(even) {
  background-color: whitesmoke;
}

thead tr {
  background-color: lightsteelblue;
}

.app {
  display: flex;
  flex-direction: row;
}

.app-info {
  margin-left: 20px;
}
